img {
    height:300px;
    width: auto;
    margin-left: 100px;

}

h1 {
    color: rgb(200, 180, 100);
    font-family: "Times New Roman";
    font-size: 70px;
    margin-top: 70px;
    margin-left: 100px;
    
}

p, h2, ol, ul{

    margin-left: 100px;
}

a {
    margin-left: 700px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

p, ol, ul {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    font-family: "Times New Roman";
}